<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUser" class="sr-only">Username</label>

        <div><input type="text" name="username" id="inputUser" class="form-control" placeholder="Username"
                    required="required" autofocus="autofocus"/></div>

        <label for="inputPassword" class="sr-only">Password</label>

        <div><input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                    required="required" autofocus="autofocus"/></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>